@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: "inria sans";
    /* font-size: 1rem; */
    color: #fff;
    text-decoration: none;
    font-family: "inria sans";
}
body{
    padding-top: .9rem;
    min-height: 100vh;
    background-color: #d8d8d8;
}
main {
    padding: 15px;
    background-color: #fff;
    border-radius: 20px 20px 0 0;
    width: 90%;
    margin-inline: auto;
}
main header {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}
main header .search {
    width: 25%;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 8px 5px 8px 10px;
    background-color: #d8d8d8;
}
main header .search i {
    color: #000;
    margin-right: 10px;
}
main header .search input {
    width: 95%;
    background: transparent;
}
main header .adding a{
    padding: 10px 30px;
    background-color: #0F460F;
    color: #fff;
    border-radius: 30px;
}
.container .product{
    padding: 20px 30px;
    background-color: #E79108;
    display: grid;
    grid-template-columns: 150px 500px repeat(2,1fr);
    align-items: center;
    justify-items: center;
    gap: 40px;
    margin-block: 20px;
}
.container .product .img{

    height: 120px;
}
.container .product img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 42px -8px rgba(255,255,255,0.5);
}
.container .product .price{
    color: #000;
}
.container .product .adjust {
    display: flex;
    align-items: center;
    gap: 10px;
}
.container .product .adjust .add,.remove{
    font-weight: bold;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    background-color: #fff;
    border-radius: 50%;
}