@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: "inria sans";
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    color: #233464;
}
html{
    scroll-behavior: smooth;
}
body {
    background-color: #F8FBFF;
}
main {
    padding-block: 20px;
    width: 60%;
    margin-inline: auto;
}

main > p {
    font-size: .9rem;
    opacity: .8;
}

main header {
    padding-block: 15px;
    border-bottom: 1px solid #000;
    margin-block: 20px;
    display: grid;
    grid-template-columns: 80px auto;
    align-items: center;
    gap: 30px;
}

main header .user {
    height: 80px;
    background-color: #e8e8e8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
main header .user i {
    font-size: 3em;
}

main .container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
main .container section {
    padding: 10px;
    background-color: #e8e8e8;
    transition: .8s;
    position: relative;
}
main .container section::before{
    content: '';
    transition: .2s;
    position: absolute;
    width: 3px;
    height: 0;
    top: 0;
    left: -7px;
    border-radius: 10px;
    background-color: #000;
}
main .container section:hover::before {
    height: 100%;
}
/* main .container section:hover {
    border-left: 3px solid #000;
} */
main .container section a{
    color: #000;
    display: flex;
    align-items: center;
    gap: 15px;
}
main > a {
    color: #000;
    background-color: #e8e8e8;
    padding: 10px 15px;
    border-radius: 10px;
    position: fixed;
    bottom: 10px;
}